td {
    border: 1px solid black;
    height: 240px;
    width: 240px;
    text-align: center;
    font-size: 28px;
    line-height: 1.5em;
    /* height is 2x line-height, so two lines will display */
    overflow: hidden;  
}
table{
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
img{
    width: 100%;
}
#ctrlWrapper{
    display: none;
}
@media not print {
    body{
        background-color: lightgreen !important;
    }
    button{
        background-color: lightgreen !important;
    }
    table{
        zoom:  0.1;
    }
    #ctrlWrapper{
        display: block !important;
    }
}
